.navbar-icons {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.navbar-icons a {
  display: flex;
  padding: 0 0.5rem;
}

.cart-item-count {
  line-height: normal;
  color: #fff;
  text-decoration: none;
}
