.navbar-hamburger {
  position: absolute;
  right: 1rem;
  top: 1.85rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
}

.hamburger-line {
  height: 3px;
  width: 100%;
  background-color: #fff;
}

.open .hamburger-line:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
  transition: all 0.3s ease;
}
.open .hamburger-line:nth-child(2) {
  opacity: 0;
  transition: all 0.3s ease;
}
.open .hamburger-line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: all 0.3s ease;
}
