@import "../../styles/theme.css";
.navbar-list {
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  /* transition: all 0.3s ease-in-out; */
}

.link-item {
  list-style: none;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--ee-btn-bg-primary);
  transition: color 0.3s;
}

.navbar-list .active span {
  border-bottom: 2.5px solid var(--ee-btn-bg-primary);
}
